
body {
	font-family: Arial;
	
}

h2 {
	font-style: italic;
}

img {
	height: 700px;
	width: 550px;
}

div {
  display: block;
	padding: 1em;
}

.tests {
	display:grid;
}

.intro {
	display: grid;
	grid-template-columns: 50% 50%;
}
