.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

body {
	font-family: Arial;
	
}

h2 {
	font-style: italic;
}

img {
	height: 700px;
	width: 550px;
}

div {
  display: block;
	padding: 1em;
}

.tests {
	display:grid;
}

